[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Ololade
	email = 73138104+zololade@users.noreply.github.com
[init]
	defaultBranch = main
[pull]
	rebase = false
