mimeapps.list  
recently-used.xbel
baloo/                
gk/             
Mousepad/      
Trash/
desktop-directories/  
gvfs-metadata/  
nemo/          
user-places.xbel
dolphin/              
hyprland/       
nwg-look/      
user-places.xbel.bak
fish/                 
icons/          
okular/        
user-places.xbel.tbcache
flatpak/              
keyrings/       
ranger/        
z/
