[Desktop Entry]
Name=Polkit Hypr Agent
Exec=/usr/lib/hyprpolkitagent/hyprpolkitagent
Type=Application

# Crucial: Don't start this in KDE/GNOME (they have their own)
OnlyShowIn=niri;hyprland;sway;
