include "config.d/autostart.kdl"
include "config.d/environment.kdl"
include "config.d/input.kdl"
include "config.d/gestures.kdl"
include "config.d/layout.kdl"
include "config.d/animations.kdl"
include "config.d/window-rules.kdl"
include "config.d/binds.kdl"
include "config.d/monitor.kdl"
