@import url("colors.css");

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 10pt;
  font-weight: 700;
  padding-bottom: 0px;
}

label {
  font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
  background: @waybar-special-bg;
  color: @fg;
  border-radius: 3px;
}

/* This adds space between the icon and the text label */
#window > box > image {
  margin-right: 10px;
}

/* If you want to hide the icon when no windows are open */
window#waybar.empty #window {
  background-color: transparent;
  border-bottom: 2px solid transparent;
}
#window {
  color: @fg;
  padding: 0 5px;
  border-bottom: 2px solid @fg;
  margin: 1px 2px;
}

#workspaces {
  /* background-color: @bg; */
  background-color: transparent;
  color: @dark-fg;
  font-family: "JetBrainsMono Nerd Font";
  padding: 0 5px;
  margin: 1px 0px;
}

#workspaces button {
  background-color: transparent;
  color: @fgFade;
  font-family: "JetBrainsMono Nerd Font";
  padding: 0 5px;
  margin: 1px 2px;
  border: 0px solid transparent;
  border-bottom: 2px solid @fgFade;
}

#workspaces button:hover {
  color: @peach;
  padding: 0 5px;
  margin: 1px 2px;
}

#workspaces button.focused,
#workspaces button.active {
  background: transparent;
  color: @red;
  font-weight: bold;
  padding: 0 5px;
  margin: 1px 2px;
  border-bottom: 2px solid @red;
}

#clock.1 {
  color: @green;
  border-bottom: 2px solid @green;
  font-family: "JetBrainsMono Nerd Font";
  padding: 0 5px;
  margin: 1px 2px;
}

#clock.2 {
  color: @green;
  border-bottom: 2px solid @green;
  font-family: "JetBrainsMono Nerd Font";
  padding: 0 5px;
  margin: 1px 2px;
}

#clock.3 {
  color: @green;
  border-bottom: 2px solid @green;
  font-family: "JetBrainsMono Nerd Font";
  padding: 0 5px;
  margin: 1px 2px;
}

#custom-cpu {
  font-size: 12px;
  color: @blue;
  border-bottom: 2px solid @blue;
  padding: 0 5px;
  margin: 1px 2px;
}

#custom-memory {
  font-size: 12px;
  color: @lavender;
  border-bottom: 2px solid @lavender;
  padding: 0 5px;
  margin: 1px 2px;
}

#custom-disk-home {
  font-size: 12px;
  color: @peach;
  border-bottom: 2px solid @peach;
  padding: 0 5px;
  margin: 1px 2px;
}

#pulseaudio {
  color: @green;
  border-bottom: 2px solid @green;
  font-family: "JetBrainsMono Nerd Font";
  padding: 0 5px;
  margin: 1px 2px;
}

#tray {
  color: @blue;
  border-bottom: 2px solid @blue;
  padding: 0 5px;
  margin: 1px 2px;
}

#custom-powermenu {
  color: @red;
  border-bottom: 2px solid @red;
  padding: 0 8px;
  margin: 1px 5px 1px 2px;
}

#custom-swaync {
  color: @dark-fg;
  border-bottom: 2px solid @peach;
  padding: 0 5px;
  margin: 1px 2px;
}

#custom-swaync.notification {
  background: @red;
  color: @bg;
  font-weight: bold;
  padding: 0 5px;
  margin: 1px 2px;
}

#custom-swaync.dnd {
  color: @gray2;
  border-bottom: 2px solid @gray2;
  padding: 0 5px;
  margin: 1px 2px;
}

#custom-weather {
  color: @peach;
  border-bottom: 2px solid @peach;
  padding: 0 5px;
  margin: 1px 2px;
}

#idle_inhibitor {
  color: @fg;
  border-bottom: 2px solid @fg;
  padding: 0 5px;
  margin: 1px 2px;
}

#idle_inhibitor.activated {
  color: @green;
  border-bottom: 2px solid @green;
}
