[Desktop Entry]
Icon=image-svg+xml
Name=hibernate.svg
Type=Link
URL[$e]=file:$HOME/Downloads/dotfiles/config/wlogout/mocha/rosewater/hibernate.svg
X-KDE-LastOpenedWith=firefox
