abrt/
google-chrome/
okularrc
pavucontrol.ini
pulse/
autostart/
kdeglobals
btop/
kde.org/
QtProject.conf
kiorc
ranger/
Code/
session/
knfsshare
spotify/
ktrashrc
dconf/
Thunar/
dolphinrc
libreoffice/
trashrc
lxqt/
user-dirs.dirs
menus/
user-dirs.locale
filetypesrc
mimeapps.list
Mousepad/
xarchiver/
mpv/
xfce4/
GitHub Desktop/
nemo/
xsettingsd/
