spawn-at-startup "bash" "-c" "dbus-update-activation-environment --systemd --all && sleep 2 && systemctl --user restart xdg-desktop-portal"

// UI and Layout
spawn-at-startup "awww-daemon"
spawn-at-startup "awww-daemon" "-n" "_backdrop"
spawn-at-startup "bash" "-c" "awww img ~/Pictures/wall/cat.webp && awww img -n _backdrop ~/Pictures/wall/cat-blurred.png"
spawn-at-startup "waybar"

// Specialized Scripts
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "$HOME/.local/bin/scripts/import-gsettings"
spawn-sh-at-startup "swayidle -C $HOME/.config/swayidle/config"
