spawn-at-startup "nm-applet"
spawn-at-startup "swww-daemon"
spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-at-startup "/usr/libexec/polkit-kde-authentication-agent-1"
spawn-at-startup "uxplay"
spawn-sh-at-startup "/home/ololade/.local/bin/scripts/import-gsettings"
spawn-sh-at-startup "hypridle -c /home/ololade/.config/niri/hypridle.conf"
spawn-at-startup "hyprsunset"
spawn-sh-at-startup "wlsunset -l 6.5 -L 3.4 -t 5000 -T 6500"