output "eDP-1" {
    mode "1920x1080"
    scale 1
    transform "normal"
    position x=0 y=0  // Start at the origin unless you have a second monitor
    background-color "#1e1e2e"
}

overview {
     workspace-shadow {
        off
    }
    backdrop-color "#1e1e2e"
    zoom 1
}

layout {
    background-color "transparent"
}
